footer.foo: .container: .row
  .col-xs-12.col-sm-3.col-md-4
      img(src="images/logo-foo.png")
  .col-xs-12.col-sm-4.col-md-4: .foo__social
    ul.social
      li.social__item: a.social__link(href="#"): svg.svg(width="25", height="25"): use(xlink:href="images/sprite.svg#social-instagram-black")
      li.social__item: a.social__link(href="#"): svg.svg(width="25", height="25"): use(xlink:href="images/sprite.svg#social-vk-black")
      li.social__item: a.social__link(href="#"): svg.svg(width="25", height="25"): use(xlink:href="images/sprite.svg#social-fb-black")
      li.social__item: a.social__link(href="#"): svg.svg(width="25", height="25"): use(xlink:href="images/sprite.svg#social-twitter-black")
      li.social__item: a.social__link(href="#"): svg.svg(width="25", height="25"): use(xlink:href="images/sprite.svg#social-youtube-black")
  .col-xs-12.col-sm-5.col-md-4: .foo__subscribe
    .subscribe
      header.subscribe__header
        .subscribe__title Подписаться:
        .subscribe__form
          input.subscribe__field(type="text", placeholder="adress@mail.ru")
          button.subscribe__button: i.fa.fa-arrow-right
      .subscribe__desc Подписываясь на рассылку, вы соглашаетесь с 
        a(href="") политикой конфиденциальности
        
  .col-xs-12: .foo__nav
    nav.nav-bottom
      ul.nav-bottom__list
        li.nav-bottom__item: a.nav-bottom__link(href="#") Главное
        li.nav-bottom__item: a.nav-bottom__link(href="#") Политика
        li.nav-bottom__item: a.nav-bottom__link(href="#") Экономика
        li.nav-bottom__item: a.nav-bottom__link(href="#") В мире
        li.nav-bottom__item: a.nav-bottom__link(href="#") Происшествия
        li.nav-bottom__item: a.nav-bottom__link(href="#") Культура
        li.nav-bottom__item: a.nav-bottom__link(href="#") Общество
        li.nav-bottom__item: a.nav-bottom__link(href="#") Культура
        li.nav-bottom__item: a.nav-bottom__link(href="#") Спорт
        li.nav-bottom__item: a.nav-bottom__link(href="#") В эфире
        li.nav-bottom__item: a.nav-bottom__link(href="#") Наука и технологии
        li.nav-bottom__item: a.nav-bottom__link(href="#") Религия и мировоззрение
        li.nav-bottom__item: a.nav-bottom__link(href="#") Справки
        li.nav-bottom__item: a.nav-bottom__link(href="#") Анонсы
        li.nav-bottom__item: a.nav-bottom__link(href="#") Опросы
        li.nav-bottom__item: a.nav-bottom__link(href="#") Тесты
        li.nav-bottom__item: a.nav-bottom__link(href="#") Фото
        li.nav-bottom__item: a.nav-bottom__link(href="#") Инфографика
        li.nav-bottom__item: a.nav-bottom__link(href="#") Видео
        li.nav-bottom__item: a.nav-bottom__link(href="#") Карикатуры
  
  .col-xs-12.text-center
    a.foo__link(href="#") Свидетельство о регистрации СМИ
