header.header
  .header-first: .container: .row: .col-xs-12: .header-first__container
    .header-first__column.header-first__column_logo: img(src="images/logo.png", width="172", height="34", alt="Пароход")
    .header-first__column.header-first__column_nav.header-drop: nav.nav-top: ul.nav-top__list
      li.nav-top__item: a.nav-top__link(href="#") Главное
      li.nav-top__item: a.nav-top__link(href="#") Политика
      li.nav-top__item: a.nav-top__link(href="#") Экономика
      li.nav-top__item: a.nav-top__link(href="#") В мире
      li.nav-top__item: a.nav-top__link(href="#") Происшествия
      
      li.nav-top__item: a.nav-top__link(href="#") Культура
      li.nav-top__item: a.nav-top__link(href="#") В эфире
      li.nav-top__item: a.nav-top__link(href="#") Наука и технологии
      li.nav-top__item: a.nav-top__link(href="#") Религия и мировоззрение
      li.nav-top__item: a.nav-top__link(href="#") Инфографика
      
      li.nav-top__item: a.nav-top__link(href="#") Главное
      li.nav-top__item: a.nav-top__link(href="#") Политика
      li.nav-top__item: a.nav-top__link(href="#") Экономика
      li.nav-top__item: a.nav-top__link(href="#") В мире
      li.nav-top__item: a.nav-top__link(href="#") Происшествия
      li.nav-top__item: a.nav-top__link(href="#") Культура
      li.nav-top__item: a.nav-top__link(href="#") Фото
      
      li.nav-top__item: a.nav-top__link(href="#") Главное
      li.nav-top__item: a.nav-top__link(href="#") Политика
      li.nav-top__item: a.nav-top__link(href="#") Экономика
      li.nav-top__item: a.nav-top__link(href="#") В мире
      li.nav-top__item: a.nav-top__link(href="#") Происшествия
      li.nav-top__item: a.nav-top__link(href="#") Культура
      li.nav-top__item: a.nav-top__link(href="#") Фото
    .header-first__column.header-first__column_search 
      form.search-top
        input.search-top__field(type="search")
        button.search-top__button(type="submit"): svg.svg(width="19" height="20"): use(xlink:href="images/sprite.svg#search")
    
  .header-second: .container: .row: .col-xs-12: .header-second__container
    .header-second__column.header-second__column_info
      ul.header-info
        li.header-info__item Погода: +8
          sup o
        li.header-info__item $: 54,07
        li.header-info__item €: 54,07
    .header-second__column.header-second__column_social
      ul.social
        li.social__item: a.social__link(href="#"): svg.svg(width="25", height="25"): use(xlink:href="images/sprite.svg#social-instagram-white")
        li.social__item: a.social__link(href="#"): svg.svg(width="25", height="25"): use(xlink:href="images/sprite.svg#social-vk-white")
        li.social__item: a.social__link(href="#"): svg.svg(width="25", height="25"): use(xlink:href="images/sprite.svg#social-fb-white")
        li.social__item: a.social__link(href="#"): svg.svg(width="25", height="25"): use(xlink:href="images/sprite.svg#social-twitter-white")
        li.social__item: a.social__link(href="#"): svg.svg(width="25", height="25"): use(xlink:href="images/sprite.svg#social-youtube-white")
