script(src="libs/jquery/dist/jquery.min.js")
script(src="libs/slick-carousel/slick/slick.min.js")
script(src="libs/fancybox/dist/jquery.fancybox.min.js")
script(src="js/flexmenu.min.js")
script(src="js/main.js")
